<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alsakina website</title>
    <link rel="stylesheet" type=""  href="/style.css"> 
</head>
<body>
     <section>
         <input type="checkbox" id="check">
         <header>
            <img class="logo" src="/images/sa.webp" alt="logo">

             <!-- <h2><a href="#"></a>Logo </h2> -->
             <div class="navigation">
                 <a href="#">الرئيسية</a>
                 <a href="#">حول</a>
                 <a href="#">تواصل</a>
                 <a href="#">معلومات</a>
             </div>
             <label for="check">
                 <i class="fas fa-bars menu-btn" ></i>
                 <i class="fas fa-times close-btn" ></i>
             </label>
         </header>
         <div dir="rtl" class="content" >
             <div class="info">
                 <h2>مركز السكينة <br><span>للخياطة والتفصيل</span> </h2>
                 <p>كل ما تحتاجي لتعلمه لتصبحي مصممة ناجحة</p>
             </div>
             <a href="#" class="info-btn" >المزيد من المعلومات</a>
         </div>
         <div class="media-icons" >
            <a href="#"><i class="fab fa-facebook-square"></i></a>
        </div>
     </section>

     <form action="/" method="POST" >
        <label for="title">Email</label>
        <input type="text" id="title" name="title" required >
    </form>

     <p class="intro" >كلام كلام كلام كلام كلام كلام كلام كلام كلام  كلام كلام كلام كلام كلام كلام كلام  كلام كلام كلام كلام كلام كلام كلام كلام ر كلام كلام كلام كلام كلام كلام كلام كلام كلام كلام كلام كلام كلام كلام 
         كلام كلام </p>
    
     <div class="more">
         <div class="cont">
             <h1>أطلق العنان</h1>
             <p>صممي الزي الخاص بك</p>
         </div>
         <img src="images/shop.jpg" alt="shopping image">       
     </div>

     <div class="more">
        <img src="images/note.jpg" alt="shopping image">  
        <div class="cont">
            <h1>أطلق العنان</h1>
            <p>صممي الزي الخاص بك</p>
        </div>     
    </div>

    <!-- comment section -->
    <h1>تعليقات الطلبة</h1>
    <div class="comments">
        <div class="single">
            <div class="actual">
                <i class="fas fa-quote-left"></i>
                <p>جميل جدا جميل جدا ممتاز جميل جدا جميل جدا ممتاز جدا جميل جدا</p>
            </div>
            <div class="user">
                <img src="images/femaleUser.png" alt="">
                <h3>الإسم الإسم هنا</h3>
            </div>
        </div>
        <div class="single">
            <div class="actual">
                <i class="fas fa-quote-left"></i>
                <p>جميل جدا جميل جدا ممتاز جميل جدا جميل جدا ممتاز جدا جميل جدا</p>
            </div>
            <div class="user">
                <img src="images/femaleUser.png" alt="">
                <h3>الإسم الإسم هنا</h3>
            </div>
        </div>
        <div class="single">
            <div class="actual">
                <i class="fas fa-quote-left"></i>
                <p>جميل جدا جميل جدا ممتاز جميل جدا جميل جدا ممتاز جدا جميل جدا</p>
            </div>
            <div class="user">
                <img src="images/femaleUser.png" alt="">
                <h3>الإسم الإسم هنا</h3>
            </div>
        </div>
    </div>
        
    <footer>
        <div class="upper">
            <div class="brand">
                <img class="logo" src="images/sa.webp" alt="logo">
                <h3>السكينة للخياطة والتفصيل</h3>
            </div>
            <div class="contact">
                <h3>Contact</h3>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram-square"></i></a>
                <a class="call" href="tel:+218924618857">للإستفسار اتصل بنا</a>
            </div>
        </div>
        <div class="lower">
            <p>ALL RIGHTS RESERVED 2021</p>
        </div>
    </footer>

</body>
</html>